body { font-family: 'Lucida Grande',Verdana, Helvetica, Arial, Geneva, sans-serif; color: black; font-size:small; }
.heading { font-size:110%; }
h1 { display:inline; }

.main-col { margin-left:150px; margin-right:150px; }
.text-entry { border: 1px solid LightGray; width: 20px; padding:5px ;}
.entry-section { width:30%; text-align: right; float:left; }
.solution-section { width:70%; float:right; }

.top-left-cell {border-top: 1px solid #282828; border-left: 1px solid #282828; border-right: 0px; border-bottom: 0px; }
.bottom-left-cell {border-top: 0px; border-left: 1px solid #282828; border-right: 0px; border-bottom: 1px solid #282828; }
.top-right-cell {border-top: 1px solid #282828; border-left: 0px; border-right: 1px solid #282828; border-bottom: 0px; }
.bottom-middle-cell {border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 1px solid #282828; }
.bottom-right-cell {border-top: 0px; border-left: 0px; border-right: 1px solid #282828; border-bottom: 1px solid #282828; }
.top-cell {border-top: 1px solid #282828; border-left: 0px; border-right: 0px; border-bottom: 0px;}
.left-side-cell {border-top: 0px; border-left: 1px solid #282828; border-right: 0px; border-bottom: 0px; }
.right-side-cell {border-top: 0px; border-left: 0px; border-right: 1px solid #282828; border-bottom: 0px; }
.cell { border: 0px; }

#entry-table { border: 0px; border-spacing: 0; padding: 0; float:right;}


